// General
body {
  background: #555 url('../img/curitiba_banner.jpg') no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  color: $black;
}

h2, h5 {
  color: $color-debian;
}

h1, h3, h4 {
  color: $color-dc19;
  font-weight: bold;
}

#main {
  min-height: 70vh;
  margin-top: 2rem;

  table {
    @extend .table;
  }

  .table-sm {
    @extend .table-sm;
  }
}

#content-dc19 {
  background: #ffffffdd;
  padding: 2em;
}

$logo-width: 210px;
$logo-overhang: 50px;

a.logo {
  width: $logo-width;
  height: 100px;
  background: #FFF url('../img/logo-dc19.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-bottom: -$logo-overhang;
}

div.main-banner {
  @include media-breakpoint-up(lg) {
    padding-left: $logo-width;
  }
  @include media-breakpoint-down(md) {
    padding-right: $logo-width;
  }
  @include media-breakpoint-down(sm) {
    padding-top: $logo-overhang;
    padding-right: 0;
  }
  color: $white;
}

a.btn {
  text-decoration: none;
  margin-right: 1em;
}

.wafer-sponsors {
  a {
    height: 100%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
      max-width: 60vw;
      height: 90%;
    }
  }

  .row {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .sponsors-platinum {
    height: 10rem;
    font-size: 1.5rem;
    img {
      max-width: none;
    }
  }

  .sponsors-gold {
    height: 8rem;
    font-size: 1.1rem;
  }

  .sponsors-silver {
    height: 6rem;
    font-size: 0.7rem;
  }

  .sponsors-bronze {
    height: 4rem;
    font-size: 0.5rem;
  }

  .sponsors-supporter {
    height: 3rem;
    font-size: 0.5rem;
  }

  .sponsor-us {
    border-style: dotted;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(xs) {
      font-size: 0.8em;
    }
  }
}

#login-debian-logos {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  img {
    max-height: 4rem;
  }
}

// Profile form
form #div_id_twitter_handle, form #div_id_github_username {
  display: none;
}

// Schedule
#main .wafer-schedule {
  table {
    @extend .table-bordered;
    @extend .table-hover;

    $schedule-border: 1px solid #999;

    tr, td, th {
      border: $schedule-border;
    }
  }
}

// Front Page:
#main.index {
  margin-top: 0;

  #calls-to-action,
  #news-section,
  .wafer-sponsors {
    margin-bottom: 3rem;
  }

  #calls-to-action {
    .card {
      height: 100%;
    }
  }

  #news-section {
    a {
      text-decoration: none;
    }
  }

  #testimonials-section .blockquote {
    font-size: 1rem;
  }
}

// Nav:
#navbar-dc19 {
  background: $black;
  padding: 0;

  li {
     padding: 0 1em;
     }
}

nav.navbar {
  a {
    text-decoration: none;
  }
}

.footer {
  @media print {
    display: none;
  }
  margin-top: 3rem;
  background-color: rgba($black, .8);
  font-size: 0.75rem;
  color: $gray-400;
  a {
    color: $white;
    text-decoration: none;

    &:hover { 
      color: $color-debian;
    }
  }
}

// vim: set et ts=2:
